@using Portal.ExtensionMethods;

@{
    var role = this.User.GetRole();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Too Good To Go | @ViewData["Title"]</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portal.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/d234370c74.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/img/tgtg-logo-circle.png" class="--nav-logo" />
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="@((string)ViewData["Title"]! == "Home" ? "active" : "") nav-link" aria-current="page" href="/">Home</a>
                        </li>

                        @if (role != "Student" && role != "CanteenEmployee")
                        {
                            <li class="nav-item">
                                <a class="@((string)ViewData["Title"]! == "Aanbod" ? "active" : "") nav-link" asp-controller="Package" asp-action="Index">Aanbod</a>
                            </li>
                        }

                        @if (role == "Student")
                        {
                            <li class="nav-item"><a class="@((string)ViewData["Title"]! == "Aanbod" ? "active" : "") nav-link" asp-controller="Package" asp-action="Index">Aanbod</a></li>
                            <li class="nav-item"><a class="@((string)ViewData["Title"]! == "Mijn reserveringen" ? "active" : "") nav-link" asp-controller="Reservation" asp-action="StudentReservations">Mijn Reserveringen</a></li>
                        }

                        @if (role == "CanteenEmployee")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pakketten
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Package" asp-action="Index">Aanbod</a></li>
                                    <li><a class="dropdown-item" asp-controller="Package" asp-action="CreatePackage">Pakket aanmaken</a></li>
                                    <li><a class="dropdown-item" asp-controller="Package" asp-action="OurPackages">Onze pakketten</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    @if (role != "Student" && role != "CanteenEmployee")
                    {
                        <a class="@((string)ViewData["Title"]! == "Login" ? "active" : "") nav-link" asp-action="Login" asp-controller="Account">Inloggen</a>
                    }
                    else
                    {
                        <a class="nav-link" asp-action="Logout" asp-controller="Account">Uitloggen</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted --footer-holder">
        <img class="--footer-main-img" src="/img/tgtg-logo.png" />
        <p class="--footer-text">© 2022 - Avans</p>
        <img class="--footer-img" src="/img/avans-logo.png" />
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
