@model PackageDetailsViewModel
@{
    ViewData["Title"] = Model.Package!.Name;
    var role = this.User.GetRole();
}

@if (!ViewData.ModelState.IsValid)
{
    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <div class="alert alert-danger" role="alert">
            <ul class="mb-0">
                <li>@error.ErrorMessage</li>
            </ul>
        </div>
    }
}

<div class="row">
    <div class="col-sm-12 col-md-4">
        <img class="--detail-hero-img" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(@Model.Package!.Products!.First().Picture!))" alt="@Model.Package!.Products.First().Name" />
    </div>

    <div class="--detail-package-info col-sm-12 col-md-4">
        <h1>@Model.Package!.Name</h1>
        <p>Prijs: @Model.Package!.Price</p>
        <p>Stad: @Model.Package!.Canteen!.City</p>
        <p>Ophaaldatum en tijd: @Model.Package!.PickUpTime</p>
        <p>Uiterlijke ophaaltijd: @Model.Package!.LatestPickUpTime</p>
        <p>Type maaltijd: @Model.Package!.MealType</p>
    </div>

    <div class="--detail-product-list col-sm-12 col-md-4">
        <h1> Mogelijke inhoud</h1>
        <ul>
            @foreach (Product p in Model.Package!.Products)
            {
                <li>@p.Name</li>
            }
        </ul>
    </div>


    <div class="col-sm-12">

        <div class="col-sm-12 col-md-6">
            <p>Disclaimer: Het is mogelijk dat niet alle producten in het pakket zitten.</p>
        </div>

        <div class="col-sm-12 col-md-6 float-right">
            @if (role == "Student" && @Model.Package!.ReservedBy == null)
            {
                <a class="--main-btn" asp-action="ReservePackage" asp-controller="Package" asp-route-id="@Model.Package!.PackageId">Reservereen</a>
            }
            else if (role == "CanteenEmployee" && @Model.Package!.ReservedBy == null && @Model.CanteenEmployeeLocation == Model.Package!.Canteen.Location)
            {
                    <a asp-action="EditPackage" asp-controller="Package" asp-route-id="@Model.Package!.PackageId">Bewerken</a>
                <button class="--main-btn" asp-action="DeletePackage" asp-controller="Package" asp-route-id="@Model.Package!.PackageId">Verwijderen</button>
            }
        </div>
    </div>
</div>