@model ReservationDetailsViewModel
@{
    ViewData["Title"] = Model.Package!.Name;
}

<h1>Reservering @Model.Package!.Name @Model.Package!.GetPickupDate()</h1>

<div class="row">

    <div class="--reservation-container col-sm-12 col-md-6">
        <h2>Uw gegevens:</h2>
        <p>Voornaam: @Model.Student!.FirstName</p>
        <p>Achternaam: @Model.Student!.LastName</p>
        <p>Studentennummer: @Model.Student!.LastName</p>
        <p>E-mailadres: @Model.Student!.EmailAddress</p>
    </div>

    <div class="--reservation-container col-sm-12 col-md-6">
        <h2>Gereserveerde pakket:</h2>
        <p>@Model.Package!.Name</p>
        <p>Producten: @Model.Package!.DisplayProducts()</p>
        <p>Stad: @Model.Package!.Canteen!.City</p>
        <p>Ophaaldatum en tijd: @Model.Package!.GetPickupDateAndTime()</p>
        <p>Uiterlijke ophaaltijd: @Model.Package!.GetLatestPickupTime()</p>
        <p>Prijs: @Model.Package!.GetPrice()</p>
        <p>Type maaltijd: @Model.Package!.MealType</p>
        <p>Bevat alcohol: @Model.Package!.ContainsAlcohol()</p>
    </div>
</div>