@model IEnumerable<Package>
@{
    ViewData["Title"] = "Mijn reserveringen";
}

@if (Model.Count() > 0)
{
    <div class="--packageOverviewHolder">
        <div class="row">
            <div class="col-12">
                <h1 class="--main-title">Mijn reserveringen</h1>
                <hr class="--divider" />
            </div>

            @foreach (Package p in Model)
            {
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 --package-res">

                    <div class="card">
                        <img class="--package-card-img" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(p.Products!.ElementAt( new Random().Next( p.Products.Count())).Picture!))" alt="@p.Products.First().Name" />
                        <div class="card-body">
                            <h5 class="card-title">@p.Name</h5>
                            <p class="card-text">Ophaaldatum: @p.GetPickupDate()</p>
                            <p class="card-text">Ophaaltijd: @p.GetPickupTime()</p>
                            <p class="card-text">Prijs: @p.GetPrice()</p>

                            <form method="get" asp-action="PackageDetails" asp-controller="Package" asp-route-id="@p.PackageId">
                                <button class="--main-btn" type="submit">Bekijk details</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="--packageOverviewHolder" style="text-align:center;">
        <h1 class="--main-title">Op het moment heb je nog geen reservaties.</h1>
        <p>Klik <a class="--text-link" asp-action="Index" asp-controller="Package">hier</a> om het aanbod te bekijken!</p>
    </div>
}


