@model HomeViewModel
@{
    
    ViewData["Title"] = "Home";
    var role = this.User.GetRole();

}

@if (role == "Student" || role == "CanteenEmployee")
{
    <div class="row">
        <div class="col-md-12">
            <h1>Goedemiddag, @Model.Name</h1>
        </div>

        <hr />

        @if (role == "Student")
        {
            <h2>Al jouw actieve reserveringen:</h2>
        }
        else
        {
            <h2>Alle actieve reserveringen:</h2>
        }


        @if (Model.Packages.Count() > 0)
        {
            @foreach (Package p in Model.Packages)
            {
                <div class="card --custom-card col-md-12 col-lg-6">
                    <a class="--home-card-aTag" asp-action="PackageDetails" asp-controller="Package" asp-route-id="@p.PackageId">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper">
                                <img class="--home-card-img" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(p.Products!.First().Picture!))" alt="@p.Products.First().Name" alt="Card image cap">
                            </div>
                            <div class="card-body --custom-card-body">
                                <h4 class="card-title">@p.Name</h4>
                                <p class="card-text">Ophaaldatum en tijd: @p.GetPickupDateAndTime()</p>
                                <p class="card-text">Prijs: @p.GetPrice()</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            @if (role == "Student")
            {
                <p>Je hebt momenteel nog niks gereserveerd.</p>
            }
            else
            {
                <p>Er zijn momenteel geen reserveringen.</p>
            }
        }
    </div>
}
else
{
    Layout = "_CenteredLayout";

    <section class="text-center">
        <h1 class="--header-main --home-hero-section">Welkom op Avans Too Good To Go</h1>
        <h2 class="--header-sub-main">Maak snel een account aan!</h2>
        <p>Heb je al een account? Klik <a class="--text-link" asp-action="Login" asp-controller="Account">hier</a> om in te loggen</p>

        <div class="--home-btn-holder">
            <div class="row">
                <div class="col-sm-12 col-md-6 half-hero-card left-hero-card">
                    <div class="--home-hero-button">
                        <a asp-action="RegisterStudent" asp-controller="Account">
                            <div>
                                <img src="~/img/studentHeroImg.svg" class="--hero-img" />
                            </div>
                            <div class="--home-hero-button-holder-button">
                                <form method="get" asp-action="RegisterStudent" asp-controller="Account">
                                    <button class="--main-btn">Student</button>
                                </form>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 half-hero-card right-hero-card">
                    <div class="--home-hero-button">
                        <a asp-action="RegisterCanteenEmployee" asp-controller="Account">
                            <div>
                                <img src="~/img/canteenEmployeeHeroImg.svg" class="--hero-img" />
                            </div>
                            <div class="--home-hero-button-holder-button">
                                <form method="get" asp-action="RegisterCanteenEmployee" asp-controller="Account">
                                    <button class="--main-btn">Kantinemedewerker</button>
                                </form>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
